[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

.vs/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

Assets/Resources/PythimeArt/KenneyRPGUrban/
Assets/Resources/PythimeArt/KenneyRPGUrban.meta
Assets/Resources/PythimeArt/KenneyModernCity/
Assets/Resources/PythimeArt/KenneyModernCity.meta
Assets/Resources/PythimeArt/KenneyIndoors/
Assets/Resources/PythimeArt/KenneyIndoors.meta

.DS_Store
Thumbs.db
